@font-face {
  font-family: 'icons';
  src: url('../font/icons.eot?72377961');
  src: url('../font/icons.eot?72377961#iefix') format('embedded-opentype'),
       url('../font/icons.woff2?72377961') format('woff2'),
       url('../font/icons.woff?72377961') format('woff'),
       url('../font/icons.ttf?72377961') format('truetype'),
       url('../font/icons.svg?72377961#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?72377961#icons') format('svg');
  }
}
*/
